@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 20 14.3% 4.1%;
    --card: 60 56% 91%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 60 56% 91%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 45 90% 57%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 13 71% 62%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 5.9% 90%;
    --input: 60 5.9% 90%;
    --ring: 13 71% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 5.3% 96.1%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 5.3% 96.1%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 5.3% 96.1%;
    --primary: 45 90% 57%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 24 9.8% 10%;
    --secondary-foreground: 60 5.3% 96.1%;
    --muted: 24 9.8% 10%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 13 71% 62%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 24 9.8% 10%;
    --input: 24 9.8% 10%;
    --ring: 13 71% 62%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
